@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;700&display=swap');

/*---- Main header ----*/
.main-header {
  width: 1500px;
  height: 660px;
  margin: 0 auto;
  background-image: url(../assets/images/home/team-work.png);
}

/*---- Top header ----*/
.main-header .top-header {
  width: 1500px;
  height: 200px;
  margin: 0 auto;

  background: linear-gradient(360deg, rgba(0, 0, 0, 5e-05) 0%,
  rgba(0, 0, 0, 0.5) 100%);
}

.main-header .top-header::after {
  content: '';
  display: block;
  border-bottom: solid 1px #fff;
  padding-top: 19.5px;
  width: 1056px;
  margin: 0px auto;

  mix-blend-mode: normal;
  opacity: 0.2;
}

.main-header .brand-and-logo-and-menu {
  display: flex;
  align-items: center;
}

/*---- Logo ----*/
.main-header .brand-and-logo-and-menu .logo {
  width: 90px;
  height: 39px;
  margin-top: 36px;
  margin-left: 222px;
}

.main-header .brand-and-logo-and-menu .logo:hover {
  border: none;
}

/*---- Contact ----*/
.main-header .brand-and-logo-and-menu .telephone-number {
  width: 200px;
  height: 24px;
  margin-top: 26px;
}

.main-header .brand-and-logo-and-menu .telephone-number .number-contact {
  display: flex;
  justify-content: flex-start;

  width: 182px;
  height: 16px;
  margin: 0;
  padding-left: 10px;

  list-style: none;
}

.main-header .brand-and-logo-and-menu .telephone-number .number-contact::before {
  content: '';
  display: block;
  border-right: solid 1px #fff;
  padding-left: 1px;
  width: 2px;
  height: 20px;
  margin: 0 auto;

  mix-blend-mode: normal;
  opacity: 0.2;
}


.main-header .brand-and-logo-and-menu .telephone-number .telephone {
  width: 15px;
  height: 15px;
  padding-top: 1px;
  padding-left: 12px;

  color: #fff;
  mix-blend-mode: normal;
  opacity: 0.7;
}

.main-header .brand-and-logo-and-menu .telephone-number .number {
  width: 104px;
  height: 16px;
  margin-left: 2px;
  margin-right: 20px;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

  color: #fff;
  text-decoration: none;
}

/*---- Link ----*/
.main-header .brand-and-logo-and-menu .links {
  width: 345px;
  height: 16px;
  margin-left: 276.5px;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.main-header .brand-and-logo-and-menu .links .menu {
  display:flex ;
  justify-content: space-around;
  list-style: none;
}

.main-header .brand-and-logo-and-menu .links a {
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 auto;
  margin-right: 15px;
}

.main-header .brand-and-logo-and-menu .links .menu-items {
  white-space: nowrap;
  width: 86px;
  height: 16px;
  padding-right: 17px;

  color: rgba(177, 172, 172, 0.671);
}

.main-header .brand-and-logo-and-menu .links .menu-items:hover {
  color: #fff;
}

/*---- Button ----*/
.main-header .brand-and-logo-and-menu .button {
  white-space: nowrap;
  width: 110px;
  height: 32px;
  margin-left: 35px;
  margin-top: 35px;
}

.main-header .brand-and-logo-and-menu .get-started {
  width: 84px;
  height: 15px;
  padding: 9px 12px 8px 12px;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  text-decoration: none;
  text-transform: uppercase;

  color: #fff;
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0);
}

.main-header .brand-and-logo-and-menu .get-started:hover {
  background-color: rgba(30, 143, 73, 0.534);
}

/*---- Masthead ----*/
.main-header .masthead {
  margin-top: 85px;
  margin-left: 222px;
}

.main-header .masthead .welcome {
  width: 380px;
  height: 53px;
  margin: 0;
  padding-bottom: 9px;

  display: flex;
  align-items: center;
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 24px;
  
  color: #fff;
}

.main-header .masthead .content-welcome {
  width: 515px;
  height: 48px;
  margin: 0;
  padding-bottom: 17px;
  

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #fff;
}

.main-header .masthead .button {
  white-space: nowrap;
  width: 186px;
  height: 50px;
  margin-top: 17px;
}

.main-header .masthead .learn-more {

  padding: 16px 44px;
  width: 98px;
  height: 18px;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  color: #fff;
  background-color: #6fb048;
  border-radius: 2px;
  border: 1px solid #6fb048;

  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.main-header .masthead .learn-more:hover {
  border-radius: 2px;
  background: #5cc91d;
}

/*----Main section---- */
.main-section {
  width: 1500px;
  height: 555px;
  margin: 0 auto;
  margin-top: 85px;
}

/*---- Best of our features ---- */
.main-section .best-of-our-features {
  width: 818px;
  height: 87px;
  margin: 0 auto;
}

.main-section .best-of-our-features .title-content {
  width: 276px;
  height: 38px;
  margin: 0 auto;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 31.4px;
  line-height: 38px;

  color: #0f5f5c;
}

.main-section .best-of-our-features .title-content::after {
  content: '';
  display: block;
  border-bottom: 1px solid #6fb048;
  padding-top: 12.5px;
  width: 65px;
  margin: 0 auto;
}

.main-section .best-of-our-features .content {
  width: 818px;
  height: 22px;
  padding-top: 12.5px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;

  color: #83a7a5;  
}

/*---- Contents of 3 columns ----*/
.main-section .contents {
  display: flex;
  justify-content: space-around;

  margin: 0 222px;
}

/*---- Ionicons ----*/
.main-section .contents .ionicons {
  width: 340px;
  height: 181px;
  padding-top: 91px;

  text-align: center;
}

.main-section .contents .ionicons .title-content-ionicons {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;

  color: #0f5f5c;
}

.main-section .contents .ionicons .content-ionicons {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  color: #83a7a5;
  }

/*---- Creative design ----*/
.main-section .contents .creative-design {
  width: 340px;
  height: 184px;
  padding-top: 88px;

  text-align: center;
}

.main-section .contents .creative-design .title-content-cd {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;

  color: #0f5f5c;
}

.main-section .contents .creative-design .content-cd {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  color: #83a7a5;
}

/*---- Photoshop and sketch ----*/
.main-section .contents .photoshop-and-sketch {
  width: 340px;
  height: 175px;
  padding-top: 97px;
  
  text-align: center;
}

.main-section .contents .photoshop-and-sketch .title-content-ps {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;

  color: #0f5f5c;
}

.main-section .contents .photoshop-and-sketch .content-ps {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  color: #83a7a5;
  }


/*---- Main footer ----*/
.main-footer {
  width: 1500px;
  height: 409px;
  margin: 0 auto;

  background: #eef1ec;
}

/*---- Top footer ----*/
.main-footer .top-footer {
  width: 1056px;
  height: 159px;
  margin: 0 222px;
  padding-top: 84px;

  display: flex;
  justify-content: space-between;
}

/*--- Info contact ---*/
.main-footer .top-footer .info {
  width: 211.58px;
  height: 123px;
}

.main-footer .top-footer .info .title-info {
  width: 203px;
  height: 26px;
  margin: 4px 0 13px 0;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;

  text-transform: uppercase;
  color: #0f5f5c;
}

.main-footer .top-footer .info .info-contact {
  width: 210.64px;
  height: 84px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;

  color: #83a7a5;
}

.main-footer .top-footer .info .info-contact .email-contact {
  text-decoration: none;
  color: #0f5f5c;
}

/*--- "tag: a" of company and others ---*/
.main-footer .top-footer .company-menu a, .others-menu a {
  text-decoration: none;
  color: #83a7a5;
}

/*--- Company menu ---*/
.main-footer .top-footer .company-menu {
  width: 201px;
  height: 150px;
}

.main-footer .top-footer .company-menu .title-company-menu {
  width: 201px;
  height: 18px;
  margin-top: 0;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;

  color: #0f5f5c;
}

.main-footer .top-footer .company-menu .menu {
  width: 200px;
  height: 112px;
  margin: 0;
  padding-left: 0;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 28px;

  list-style: none;
}

.main-footer .top-footer .company-menu .menu .menu-items:hover {
  color: #0f5f5c;
}

.main-footer .top-footer .others-menu {
  width: 257px;
  height: 155px;
}

/*--- Others menu ---*/
.main-footer .top-footer .others-menu .title-others-menu {
  width: 257px;
  height: 18.6px;
  margin-top: 0;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;

  color: #0f5f5c;
}

.main-footer .top-footer .others-menu .menu {
  width: 180.52px;
  height: 115.73px;
  margin: 0;
  padding-left: 0;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 28px;

  list-style: none;
}

.main-footer .top-footer .others-menu .menu .menu-items:hover {
 color: #0f5f5c;
}

/*--- Newsletter ---*/
.main-footer .top-footer .newsletter{
  width: 271px;
  height: 121px;
}

.main-footer .top-footer .newsletter .title-newsletter {
  width: 253.46px;
  height: 18px;
  margin-top: 0;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;

  color: #0f5f5c;
}

.main-footer .top-footer .newsletter .content-newsletter {
  width: 269.23px;
  height: 36px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  
  color: #83a7a5;
}

.main-footer .top-footer .newsletter .field-enter-email {
  width: 270.12px;
  height: 36px;
}

.main-footer .top-footer .newsletter .email {
  width: 233.1px;
  height: 36px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  
  border: none;
  border-radius: 2px;
  background: #eef1ec;
}

.main-footer .top-footer .newsletter .email:hover {
  border: 1px solid #5cc91d;
}

.main-footer .top-footer .newsletter .button {
  width: 26px;
  height: 22px;
  padding: 1px 3px;

  border: none;
}

.main-footer .top-footer .newsletter .button:hover {
  border: 1px solid #5cc91d;
  border-radius: 2%;
}

/*---- Bottom footer ----*/
.main-footer .bottom-footer {
  width: 1056px;
  height: 43.5px;
  margin: 0 222px;
  padding-top: 43.5px;

  display: flex;
  justify-content: space-between;
}

/*---- Rights ----*/
.main-footer .bottom-footer .rights {
  width: 129.88px;
  height: 17px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;

  color: #83a7a5;
}

/*---- Icons ----*/
.main-footer .bottom-footer .icons {
  width: 190px;
  height: 30px;
  margin-top: 0;

  display: flex;
  justify-content: space-between;
}

.main-footer .bottom-footer .icons a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-footer .bottom-footer .icons .oval-twitter-icon {
  width: 29.97px;
  height: 30px;
  
  border-radius: 100%;
  background: #55acee;
}

.main-footer .bottom-footer .icons .twitter-icon {
  width: 19.98px;
  height: 20px;
}

.main-footer .bottom-footer .icons .oval-twitter-icon:hover {
  background: #5cc91d;
}

.main-footer .bottom-footer .icons .oval-facebook-icon {
  width: 29.97px;
  height: 30px;

  border-radius: 100%;
  background: #3b5998;
}

.main-footer .bottom-footer .icons .facebook-icon {
  width: 19.98px;
  height: 20px;
}

.main-footer .bottom-footer .icons .oval-facebook-icon:hover {
  background: #5cc91d;
}

.main-footer .bottom-footer .icons .oval-instagram-icon {
  width: 29.97px;
  height: 30px;
  
  border-radius: 100%;
  background: #3f729b;
}

.main-footer .bottom-footer .icons .instagram-icon {
  width: 15.94px;
  height: 15.96px;
}

.main-footer .bottom-footer .icons .oval-instagram-icon:hover {
  background: #5cc91d;
}

.main-footer .bottom-footer .icons .oval-dribble-icon {
  width: 29.97px;
  height: 30px;
  
  border-radius: 100%;
  background: #ea4c89;
}

.main-footer .bottom-footer .icons .dribble-icon {
  width: 15.94px;
  height: 16px;
}

.main-footer .bottom-footer .icons .oval-dribble-icon:hover {
  background: #5cc91d;
}

.main-footer .bottom-footer .icons .oval-github-icon {
  width: 29.97px;
  height: 30px;
  
  border-radius: 100%;
  background: #333;
}

.main-footer .bottom-footer .icons .github-icon {
  width: 17.94px;
  height: 16px;
}

.main-footer .bottom-footer .icons .oval-github-icon:hover {
  background: #5cc91d;
}
