@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;700&display=swap');

/*----Header----*/
.header {
  position: absolute;
  width: 1500px;
  height: 660px;
  left: 0px;
  top: 0px;
  margin: 0 auto;
  background-image: url(../assets/images/home/team-work.png);
}

.header .first-head {
  position: absolute;
  width: 1500px;
  height: 200px;
  left: 0px;
  top: 0px;

  background: linear-gradient(360deg, rgba(0, 0, 0, 5e-05) 0%,
  rgba(0, 0, 0, 0.5) 100%);
}

.header .title {
  position: absolute;
  width: 90px;
  height: 39px;
  left: 222px;
  top: 26px;
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28.75px;
  line-height: 1px;
  
  color: #FFFFFF;
}

.header .telephone {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 364px;
  top: 46px;

  color: #FFFFFF;

}

.header .number {
  position: absolute;
  width: 104px;
  height: 16px;
  left: 386px;
  top: 34px;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12.5px;
  line-height: 16px;

  color: #FFFFFF;
}

/*----Link----*/
.header .link {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

  mix-blend-mode: normal;
  opacity: 0.7;
}

.header .link a {
  text-decoration: none;
  margin: 0 auto;
}

.header .link .home {
  position: absolute;
  width: 43px;
  height: 16px;
  left: 791px;
  top: 34px;

  font-size: 13px;
  color: rgba(177, 172, 172, 0.671);
}

.header .link .home:hover {
  color: #FFFFFF;
}

.header .link .about-us {
  position: absolute;
  width: 70px;
  height: 16px;
  left: 864px;
  top: 34px;

  font-size: 13px;
  color: rgba(177, 172, 172, 0.671);
}

.header .link .about-us:hover {
  color: #FFFFFF;
}

.header .link .pricing {
  position: absolute;
  width: 57px;
  height: 16px;
  left: 963px;
  top: 34px;

  font-size: 13px;
  color: rgba(177, 172, 172, 0.671);
}

.header .link .pricing:hover {
  color: #FFFFFF;
}

.header .link .contact-us {
  position: absolute;
  width: 86px;
  height: 16px;
  left: 1050px;
  top: 34px;

  font-size: 13px;
  color: rgba(177, 172, 172, 0.671);
}

.header .link .contact-us:hover {
  color: #FFFFFF;
}

.header .link .button {
  position: absolute;
  width: 110px;
  height: 32px;
  left: 1168px;
  top: 26px;
  
  background: rgba(255, 255, 255, 0.35);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0);
}

.header .link .button:hover {
  background: rgba(255, 255, 255, 0.76);
}

.header .link .get-started {
  margin: 0 auto;
  left: 1181px;
  top: 35px;
  
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #FFFFFF;
}

/*----Masthead----*/
.header .masthead .welcome {
  position: absolute;
  width: 377px;
  height: 53px;
  left: 222px;
  top: 285px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 24px;
  
  color: #FFFFFF;
}

.header .masthead .p-welcome {
  position: absolute;
  width: 515px;
  height: 48px;
  left: 222px;
  top: 347px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #FFFFFF;
}

.header .masthead .button {
  position: absolute;
  width: 186px;
  height: 50px;
  left: 222px;
  top: 429px;
  
  background: #6FB048;
  border-radius: 2px;
  border: 1px solid #6FB048;
}

.header .masthead .button:hover {
  border-radius: 2px;
  background: #5cc91d;
}

.header .masthead .learn-more {
  margin: 0 auto;
  left: 266px;
  top: 428px;
  
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  color: #FFFFFF;
}

/*----Main---- */
.main {
  position: absolute;
  width: 1056px;
  height: 359px;
  left: 222px;
  top: 745px;
  margin: 0 auto;
  
}

/*----Section: best of our features---- */
.main .best-of-our-features {
  position: absolute;
  width: 276px;
  height: 38px;
  left: 612px;
  top: 745px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 38px;

  display: flex;
  justify-content: center;
}


/*----footer----*/
.footer {
  position: absolute;
  width: 1500px;
  height: 409px;
  left: 0px;
  top: 1215px;

  background: #EEF1EC;
}

.footer .wapik p {
  position: absolute;
  width: 203px;
  height: 26px;
  left: 222px;
  top: 1299px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;

  display: flex;
  align-items: flex-end;
  
  color: #0F5F5C;
}

.footer .wapik .info {
  position: absolute;
  width: 210.64px;
  height: 84px;
  left: 222.94px;
  top: 1338px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 28px;
  
  color: #83A7A5;
}
.footer .company p {
  position: absolute;
  width: 201px;
  height: 18px;
  left: 483px;
  top: 1303px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  
  color: #0F5F5C;
}

.footer .company .link-header{
  position: absolute;
  width: 200px;
  height: 112px;
  left: 484px;
  top: 1341px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 28px;
  
  list-style: none;
  color: #83A7A5;
}

.footer .others p {
  position: absolute;
  width: 257px;
  height: 18.6px;
  left: 750px;
  top: 1303px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;

  color: #0F5F5C;
}

.footer .others .link-sp {
  position: absolute;
  width: 180.52px;
  height: 115.73px;
  left: 751.47px;
  top: 1342.27px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 28px;

  color: #83A7A5;
}

.footer .send-email p span {
  position: absolute;
  width: 253.46px;
  height: 18px;
  left: 1007.64px;
  top: 1303px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  
  color: #0F5F5C;
}

.footer .send-email p {
  position: absolute;
  width: 269.23px;
  height: 36px;
  left: 1008.77px;
  top: 1338px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;

  color: #83A7A5;
}

.footer .send-email .email {
  position: absolute;
  width: 270.12px;
  height: 36px;
  left: 1007px;
  top: 1388px;
  
  background: #EEF1EC;
  border-radius: 2px;
}

.footer .send-email button {
  position: absolute;
  width: 14.16px;
  height: 12.62px;
  left: 1244.5px;
  top: 1399.43px;
  
  background: #DADADA;
}

.footer .bottom-footer {
  position: absolute;
  width: 1055px;
  height: 43.5px;
  left: 222px;
  top: 1496.5px;
}

.footer .copyright {
  position: absolute;
  width: 129.88px;
  height: 17px;
  left: 222px;
  top: 1516px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;

  display: flex;
  align-items: flex-end;
  
  color: #83A7A5;
}

.footer .icon {
  position: absolute;
  width: 29.97px;
  height: 30px;
  top: 1510px;
}

.footer .icon .icon-twitter {
  position: absolute;
  left: 1087.18px;
}

.footer .icon .icon-facebook {
  position: absolute;
  left: 1127.14px;
}

.footer .icon .icon-instagram {
  position: absolute;
  left: 1167.1px;
}

.footer .icon .icon-dribble {
  position: absolute;
  left: 1207.07px;
}

.footer .icon .icon-github {
  position: absolute;
  left: 1247.03px;
}
